* {
    margin: 0px;
    padding: 0px;
}


body {
    direction: rtl;
}

.hsa {
    background-color: rgb(184, 0, 0);
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;

}

.hsa :hover {
    color: rgb(255, 0, 0);
    font-size: 35px;
}

.hsa a {
    text-decoration: none;

}

.s {
    color: white;
    font-size: 30px;
    text-align: center;
    width: 100px;
    background-color: rgb(25, 25, 36);
    margin: 10px;
    position: relative;
    right: 350px;
    padding: 10px;
    border-bottom: 10px rgb(228, 11, 0)solid;
    border-radius: 20px
}

.hs img {
    width: 400px;
    position: absolute;
    right: 1150px;
    top: 10px;
    border-radius: 50px
}


.ccp {
    background-color: rgb(197, 108, 108);
    width: 1200px;
    height: 290px;
    position: absolute;
    top: 240px;
    right: 350px;
    background-image: url(img/web.jpg);
    background-size: cover;
}

.car {
    background-color: rgb(197, 108, 108);
    width: 416px;
    height: 626px;
    position: absolute;
    top: 0;

    right: 669px;
    background-image: url(img/12.jpg);
    background-size: cover;
    border: 5px red solid;
}

.ccc {
    background-color: rgb(197, 108, 108);
    width: 1200px;
    height: 130px;
    position: relative;
    left: -350px;
    bottom: 35px;
    background-image: url(img/atar.png);
    background-size: cover;
}



.cca {
    padding-top: 19px;
    padding-bottom: 77px;
    display: inline-block;
    padding-left: 257px;
    position: relative;
    right: 167px;
    font-size: 20px;
    color: white;
}

.cca p {
    padding-top: 10px;
}

.cca i {
    font-size: 30px;
}

.text {
    border: 5px red solid;
    padding: 20px;
    width: 550px;
    height: 585px;
    position: relative;
    right: 400px;
    text-align: center;
}

.text h1 {
    border-bottom: 1px solid red;

}

.text h2 {
    padding-top: 30px;

}

.text h3 {
    color: red;
    padding-top: 20px;
}

.text p {
    font-size: 25px;
    padding-top: 20px;

}



span {
    color: red;
}

.cover {
    background-color: red;
    width: 100%;
    height: 400px;
    position: relative;
    top: 1200px;

}

.cover img {
    width: 534px;
    position: relative;
    right: 430px;
}


.cover h1 {
    color: white;
    position: relative;
    padding-right: 1200px;
    bottom: 325px;

}

.cover p {
    padding: 10px;
    color: white;
    position: relative;
    padding-right: 1200px;
    bottom: 325px;
}

.abb {


    display: flex;
    justify-content: center;
    position: absolute;
    top: 1080px;
    right: -50px;

}


.a {
    background-color: white;
    border: 2px red solid;
    width: 500px;
    height: 200px;

    margin: 20px 50px;


}




.b {
    background-color: white;
    border: 2px red solid;
    width: 500px;
    height: 200px;

    margin: 20px 50px;

}









.title {
    border: solid rgb(0, 0, 0) 5px;
    background-color: red;
    position: relative;
    top: 739px;
    right: 166px;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    color: white;
    text-align: center;
    padding: 0 0 20px 0;
    width: 782px;
}


.cards {
    width: 1200px;
    display: flex;

    position: relative;
    top: 700px;
    left: 50px;
}


.card {




    background-color: white;
    width: 250px;
    height: 300px;
    box-shadow: 0 5px 25px rgb(179, 179, 179);
    padding: 25px;
    margin: 0 50px;
    transition: 0.7s ease;
    border: solid red 5px;
    justify-content: center;


}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: rgb(155, 38, 38);
    font-size: 80px;
    text-align: center;
}


.info {
    text-align: center;
}

.info h3 {
    color: rgb(155, 38, 38);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;

}


@media (max-width:575px) {
    .hsa {
        position: relative;
        top: 4px;
        width: 388px;
        z-index: 10000;
        height: 64px;
        right: 608px
    }

    .s {
        width: 30px;
        font-size: 10px;
        position: relative;
        right: 15px;
    }

    .hs img {
        width: 300px;
        position: relative;
        top: 3px;
        right: 653px;

    }

    .ccp {
        background-color: rgb(197, 108, 108);
        width: 369px;
        height: 93px;
        position: absolute;
        top: 240px;
        right: 616px;
        background-image: url(img/web.jpg);
        background-size: cover;
    }

    .ccc {
        background-color: rgb(197, 108, 108);
        width: 345px;
        height: 71px;
        position: relative;
        left: -618px;
        bottom: -143px;
        background-image: url(img/atar.png);
        background-size: cover;
    }

    .cca {
        padding-top: 6px;
        padding-bottom: 77px;
        display: inline-block;
        padding-left: 34px;
        position: relative;
        right: 37px;
        font-size: 10px;
        color: white;
    }

    .cca i {
        font-size: 10px;
    }

    .text {
        border: 5px red solid;
        padding: 24px;
        width: 327px;
        height: 914px;
        position: relative;
        right: 609px;
        text-align: center;
        bottom: -160px;
    }

    .cover img {
        width: 366px;
        position: relative;
        right: 615px;
        top: 20px;
    }

    .a {
        background-color: white;
        border: 2px red solid;
        width: 364px;
        height: 226px;
        margin: -104px 50px;
    }

    .b {
        background-color: white;
        border: 2px red solid;
        width: 363px;
        height: 192px;
        margin: 19px 82px;
        margin: 135px -417px;
    }

    .cover {
        display: none;
    }

    .car {
        display: none;
    }

    .title {
        border: solid rgb(0, 0, 0) 5px;
        background-color: red;
        position: relative;
        top: 634px;
        right: -20px;
        font-size: 2.2em;
        font-weight: 800;
        margin-bottom: 30px;
        color: white;
        text-align: center;
        padding: 0 0 20px 0;
        width: 350px;
    }


    .card {
        background-color: white;
        width: 250px;
        height: 300px;
        box-shadow: 0 5px 25px rgb(179, 179, 179);
        padding: 25px;
        margin: 10px;
        transition: 0.7s ease;
        border: solid red 5px;
        justify-content: center;
    }

    .cards {
        display: block;
        width: 1300px;
        position: relative;
        top: 620px;
        left: 0px;


    }
}